#notAuth{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notAuth_icon{
    width: 30vw;
    height: 30vh;
    color: red;
}

#notAuth > h1{
    text-align: center;
}